*{
    padding: 0;
    margin: 0;
}
.logo{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
}
.heading nav a {
    display: inline-block;
}
img {
    width: 400px;
}
.heading {
    background-image: url(../img/cat.png);
    background-size: cover;
    background-position: center;
    height: 300px; ;
}
#contacts {
    background-color:green;
}